
@font-face {
    font-family: reactor7;
    src: url(font/Reactor7.ttf);
}
* {
    border: 0px solid black;
}
body {
    font-family: reactor7;
    background-color: #0c0c0c;
    padding: 50px;
    font-size: 48px;
    text-shadow: 3px 3px 4px #000000;
    color: #bec0cf;
    margin-top: -50px;
}

.container {
    width: 1200px;
}

.panel {
    background-color: #0c0c8c;
    background-image: linear-gradient(to bottom right,#1b11d1, #0e0e2b );
    border: 5px solid #bec0cf;
    border-radius: 10px;
    box-shadow: 3px 3px 4px #000000;
}

.bold {
    font-weight: 900;
}

.label {
    font-weight: 900;
    color: #50cbe5!important;
    margin-right: 20px;
}

.cursor {
    height: 40px;
    width: auto;
    
    z-index: 99;
    position: relative;
    transition: all .5s;
    transition-timing-function: ease-in-out;
}

.cursorMain {
    margin-left: 800px;
    margin-bottom: -50px;
}

.cursorPHS {
    position: absolute;
    margin-top: 70px;
    margin-left: -10px;
}

.leftPosition {
    transform: translateX(-20px);   
}


.hpBar {
    width: 170px;
    height: 3px;
    margin-top: 5px;
    margin-left: 60px;
    margin-bottom: -6px;
    background-image: linear-gradient(to bottom right,#4564c1, #ffffff );
}

.mp {
    /* make mp box adjustments here */
}

.mpBar {
    width: 170px;
    height: 3px;
    margin-top: 5px;
    margin-left: 60px;
    background-image: linear-gradient(to bottom right,#599cb7, #ffffff );
}

.mpValueAdjust {
    margin-left: -5px;
}

li {
    list-style-type: none;
}


.toolTip {
    background-color: #6f148a;
}

.top {
    display: flex;
}

.middle {
    display: flex;
    z-index: 1;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px;
    width: 800px;
    z-index: 0;
}

.charContainer {
    display: flex;
    height: 175px;
    gap: 20px;
}

.portrait {
    width: 200px;
}

.portrait img {
    padding-left: 50px;    
    height: 100%;
    width: auto;
}

.info {
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 300px;
}

.info p {
    margin: 0px;
    margin-bottom: -20px;
    padding: 0px;

}

.gauges {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
}
.gauges .heading {
    margin: 0px;
    padding: 0px;
    margin-bottom: -10px;
}

.gauges .gauge {
    background-image: linear-gradient(#e0b3b1 70%, #af8388 30%);
    height: 15px;
    width: 70%;
    border: 5px solid #bec0cf;
    box-shadow: 1px 3px 5px black inset;
    margin-bottom: -10px;
    margin-left: 30%;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}

.options {
    margin: -30px 0px 0px -60px;
    padding: 0 40px 20px 40px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.options li {
    margin: 0px;
    padding: 0px;
    margin-bottom: -20px;
}

.gilTime {
    margin: 0px 0px 55px -60px;
    padding: 5px;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.gilTime div {
    margin: 0px;
    padding: 0px;
    line-height: 90%;
}

.time{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

.gil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

.bottom {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    padding: 0px;
}

.location {
    margin: -45px 81px 0px 0px;
    padding: 10px 10px 10px 10px;
    z-index: 1;
}

.location p {
    margin: 0px;
    padding: 0px;
    width: 400px;
}

.phsContainer {
    margin-top: 28px;
}

.phsInfo {
    width: 1080px;
    padding: 5px 5px 5px 25px;
}

.menuIndicator {
    padding: 5px 150px 5px 50px;
    position: fixed;
    left: 902px;
}

.phsLeft {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px 0px 25px 0px;
    width: 550px;
    z-index: 0;
}

.phsRight {
    width: 550px;
    padding: 0px;
    
}

.selected {
    box-sizing: border-box;
    height: 200px;
    margin: -4px;
}

.reserveParty {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.reservePortrait img {
    width: 156px;
}

.hidden {
    display: none;
}

.invisible {
    opacity: .1;
    transition: all .5s;
    transition-timing-function: linear;
}